.yAxis {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  padding-right: 20px;
  position: relative;
}

.label {
  font-size: 34px;
  color: #757575;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.ticks {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.tick {
  position: absolute;
  right: 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tickLabel {
  font-size: 28px;
  color: #757575;
  text-align: right;
  white-space: nowrap;
}

